.features {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
  background-color: #f5f6f7;
}

.mission{
  padding: 1rem;
}

.featureSvg {
  min-width: 300px;
}

.tweet {
  font-size: 15px;
}

.tweetMeta {
  color: var(--ifm-color-emphasis-700);
}

.tweetMeta strong {
  color: var(--ifm-font-color-base);
}
